body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #fff6f8; /* soft pink */
}

.top-bar {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.explore-btn {
    background: transparent;
    border: 2px solid #ff7ca8;
    padding: 8px 16px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    color: #ff7ca8;
    transition: 0.3s;
}

.explore-btn:hover {
    background: #ff7ca8;
    color: white;
}

.buyp-btn {
    background: transparent;
    border: 2px solid #ff7ca8;
    padding: 8px 16px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    color: #ff7ca8;
    transition: 0.3s;
}

.buyp-btn:hover {
    background: #ff7ca8;
    color: white;
}
.login-box {
    width: 350px;
    margin: 120px auto;
    padding: 30px 25px;
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(255, 126, 163, 0.18);
    text-align: center;
}

.login-box h1 {
    margin-bottom: 8px;
    color: #ff4f86;
}

.form-group input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 12px;
    border: 1px solid #ffbad2;
    background: #fff9fa;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    background: #ff7ca8;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #ff4f86;
}

.note {
    margin-top: 12px;
    font-size: 13px;
    color: #888;
}
